.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100vh;
  min-height: 500px;

  .hero {
    max-width: 300px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .info span {
    display: flex;
    gap: 25px;
    justify-content: center;
  }

  .info span a img {
    width: 40px;
  }

  .info a {
    width: fit-content;
    align-self: center;
  }

  .info .linkIcon {
    transition: transform 200ms ease-in-out;
  }

  .info .linkIcon:hover {
    transform: scale(1.1);
  }
}

.container .info button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--btn-color) !important;
  color: var(--btn-text-color) !important;
  border: none !important;
  border-radius: 20px !important;
  width: 150px !important;
  height: 50px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3) !important;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out !important;
}

.container .downloadIcon {
  height: 30px !important;
  width: 30px !important;
}

.container .info button:hover {
  transform: scale(1.05);
}

.container .info button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.themeContainer {
    position: relative;
}

.themeIcon {
    position: absolute;
    right: 0;  
    width: 20px;
}

.description {
    max-width: 30ch;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.subheading {
  scale: 0.8;
}

@media (width <= 800px) {
    .themeIcon {
      right: 15%;
    }
  
}

@media (width >= 800px) {
  .container {
    margin-top: -150px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    .hero {
      max-width: 300px;
      width: 300px;
    }
  }
}

@media (width >= 1400px) {
  .container {
    .hero {
      max-width: 300px;
      width: 300px;
    }
  }
}